a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5,
h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time,
tr, tt, u, ul, var, video {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

h1 { font-size: 2.074em;}

h2 { font-size: 1.728em; }

h3 { font-size: 1.44em; }

h4 { font-size: 1.2em; }

small { font-size: 0.833em; }



.titleSection {
    font-weight: bold;
    padding-top: 7.2%;
    padding-bottom: 4.5%;
    text-align: center;
}


/*FA ICONS*/

.fa {
    color: #2DA5EE;
}


/* NAVBAR */

#brand {
    font-size: 1em;
    font-weight: bold;
    padding-left: 0.5625em;
    padding-right: 0.5625em;
}

nav {
    font-size: 1.3em;
}
nav li a:hover {
    background-color: #2DA5EE;
}


.bg-inverse {
    background-color: #000000 !important;
}


/*MAIN*/

.background-cover {

    background-image: url("./images/bg.jpg");
    /*background-image: url("./images/piano_bg.jpg");*/
    background-size: cover;
}

main {
    padding-top: 12rem;
    padding-bottom: 8rem;
    color: #FFFFFF;
}


#inicio h1, #inicio h2, #inicio h5{
    padding-bottom: 1em;
    margin-top: 15px;
    font-size: 2.3em;

}

#inicio p {
    padding-bottom: 1.5em;
}

#inicio a {
    text-decoration: none;
    color: #FFFFFF;
}


/*SERVICES*/

.card-header {
    background-color: rgba(45, 165, 238, 0.5);
}

.card-header h3 {
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 0.5625em;
}

.card-text {
    list-style-type: none;
    padding-left: 0;
    line-height: 3em;
}

.card-footer span {
    font-weight: bold;
}

.card {
    max-width: 95%;
    margin-bottom: 7%;
}

#servicios {
    padding-bottom: 4%;
}

.widthRepar {
    width: 70%;
    margin: 0 auto;
}


/*BOOK*/

.bg {
    background: linear-gradient(-90deg, #2DA5EE, #7b95cc);
    padding-top: 2%;
    padding-bottom: 5%;

}

#libro {
    color: #FFFFFF;
}

.bookImg {
    margin-top: 21%;
    border: 3px solid #FFFFFF;
    margin-bottom: 4px;

}

.bookTitle {
    font-weight: bold;
    padding-top: 7%;
    padding-bottom: 6%;
}

.bookTitle a {
    text-decoration: none;
    color: #FFFFFF;
}

.bookTitle a:hover {
    color: #000000;
}

/*PRENSA*/

#prensa {
    background-color: #f3f3f3;
}

.imgPrensa {
    border-radius: 10%;

}

#prensa .row div {
    padding-bottom: 4%;
}



/*CONTACT*/

.profilePic {
    border: 2px dashed #000000;
    border-radius: 50%;
    margin-bottom: 9%;
}



#contacto h2, #contacto p {
    padding-bottom: 1.2em;
}

#contacto span {
    font-size: 0.6em;
}

#contacto a {
    text-decoration: none;
    color: #262625;
}

/*FOOTER*/

#footer {
    padding: 3em;
    background-color: #f3f3f3;
    color: #818181;
    font-size: 11px;
}


/*PHONES*/

@media only screen and (max-width: 768px) {

    /*NAV*/

    #brand {
        font-size: 0.8em;

    }

    .navbar-text {
        font-size: 0.8em;
    }

    /*MAIN*/
    main {
        padding-top: 5rem;
        padding-bottom: 2rem;
        color: #FFFFFF;
    }

    #inicio h1, #inicio h2, #inicio h5{
        padding-bottom: 1em;
        margin-top: 15px;
        font-size: 2.3em;
        text-align: center;
    }

    #inicio p {
        padding-bottom: 1.5em;
    }

    /*SERVICES*/
    .card-text {
        line-height: 2.3em;
    }

    .widthRepar {
        width: 90%;
    }

    /*CONTACT*/

    #contacto h3 {
        font-size: 1.2em;
    }

    #contacto span {
        font-size: 0.6em;
    }

    #contacto h2 {
        font-size: 1.4em;
    }

    .profilePic {
        margin-top: 9%;
    }

}